.game {
    padding: 20px;
    border-radius: 5px;
}


header {
    font-size: 78px;
    font-family: myFirstFont;
    color: snow;
}

p {
    text-align: center;
    font-size: 16px;
    font-family: myThirdFont;
    color: snow;
}

h1, h2 {
    font-size: 78px;
    font-family: myFirstFont;
    color: snow;
}

h3, h4, h5 {
    font-size: 36px;
    font-family: mySecondFont;
    color: snow;
}

@font-face {
    font-family: myFirstFont;
    src: url('../fonts/MORETHANHUMAN.TTF');
}

@font-face {
    font-family: mySecondFont;
    src: url('../fonts/deathrattlebb_reg.ttf');
}

@font-face {
    font-family: myThirdFont;
    src: url('../fonts/Dark\ &\ Black\ D.otf');
}

body {
    background-image: url('../images/grunge_wallpaper_recolor_by_zombiejamboree_d2fbziu-fullview.jpg');
    background-color: black;
}

div.App {
    background-image: url('../images/grunge_wallpaper_recolor_by_zombiejamboree_d2fbziu-fullview.jpg');
}